* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
        display: flex;
        min-height: 50vh;
        min-width: 50%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #FFF;
        border-radius: 5px;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A9A9A9;
}

h1 {
    color: #000000;
    margin: 20px 0;
}

.progress {
    height: 5px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.progress-bar {
    background-color: #0000FF;
    height: 100%;
    transition: all ease .5s;
}

.questionArea,
.scoreArea {
    display: none;
}

.questionArea {
    max-width: 500px;
    width: 100%;
}

.question {
    color: #000000;
    font-size: 18px;
    margin: 20px 0;
}
.option {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 5px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}
.option span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 10px;
    background-color:#000080;
    color: #FFF;
}
.option:hover {
    background-color: #4169E1;
}

.scoreArea {
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
}
.prizeImage {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
}
.scoreText1 {
    color: #000;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scorePct {
    color: #0d630d;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scoreText2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.scoreArea button {
    border: 0;
    border-radius: 10px;
    background-color: #000080;
    color: #FFF;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.scoreArea button:hover {
    background-color: #000000;
}

.social{
    margin-top: 20px;
}

.social p{
    text-align: center;
    margin-bottom: 5px;
    font-size: 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #000000;
    font-size: 20px;
}